.mce-OpenSansBold { font-family: "OpenSansBold"; }
.mce-OpenSansBoldItalic { font-family: "OpenSansBoldItalic"; }
.mce-OpenSansExtraBold { font-family: "OpenSansExtraBold"; }
.mce-OpenSansExtraBoldItalic { font-family: "OpenSansExtraBoldItalic"; }
.mce-OpenSansItalic { font-family: "OpenSansItalic"; }
.mce-OpenSansLight { font-family: "OpenSansLight"; }
.mce-OpenSansLightItalic { font-family: "OpenSansLightItalic"; }
.mce-OpenSansRegular { font-family: "OpenSansRegular"; }
.mce-OpenSansRegularItalic { font-family: "OpenSansRegularItalic"; }
